# Logger
cryptography
opencv-python
psutil
pycountry
pyperclip
pypiwin32
requests
requests-toolbelt
wmi
pyaesm
browser-cookie3
# Builder
colorama
customtkinter
nuitka==2.3.11
packaging
pillow
pycryptodomex
pyinstaller
